# Contents
## 01 Merge df ords and df_ords_prior  df
## 02 Exporting Data in Pickle Format

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
#Turned folder path into string 
path= r'/Users/pamnouboussi/27.05.23 Instacart Basket Analysis'

In [4]:
#Import orders.cvs file as df_prods
df_ords= pd.read_csv(os.path.join(path,'02 Data', 'Prepared Data', 'df_ords_consistency_check.csv'), index_col = False)

In [5]:
# Importing df_ords_prior dataframe
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products__prior.csv'), index_col = False)

In [6]:
#Check the output
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [7]:
df_ords_prior.shape

(32434489, 4)

In [8]:
df_ords.shape

(3421083, 7)

## 01 Merge df ords and df_ords_prior  df

In [9]:
#create new df containing ord and ords prior with order id as key. indicator =true checks for full match (defualt inner join)
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [12]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [14]:
df_merged_large.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,1,2,8,NaN,196,1,0,both
1,0,2539329,1,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,1,2,8,NaN,26405,5,0,both

## 02 Exporting Data in Pickle Format

In [15]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))